:host {
    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-flow: row;

        app-info-pane {
            flex: 1 1 auto;
        }

        app-map {
            flex: 1 1 100%;
        }

        .title {
            position: absolute;
            top: 0;
            left: 100px;
            background-color: rgba(255, 255, 255, 65%);
            z-index: 1000;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            h2 {
                margin: 20px 50px;
            }
        }

        .credit {
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 80%;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 100%);
            border-top-right-radius: 20px;
            padding: 10px;
            img {
                height: 100px;
            }
        }
    }
}
